{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>Ask Winston</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">

    <!-- Alternate the background color of the output rows -->
    <style>
        .list-group-item:nth-child(even) {
            background-color: #eee;
        }
        
        .js-chat-log {
            min-height: 400px;
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        body {}
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1>Winston</h1>

            <div class="view">
                <div class="plane main">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="list-group js-chat-log scrollbar-dynamic">
                </div>

                <div class="input-group input-group-lg">
                    <input type="text" class="form-control js-text" placeholder="Type something to begin..." />
                    <span class="input-group-btn">
              {% csrf_token %}
              <button class="btn btn-primary js-say"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </span>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/jq-init.js' %}"></script>
    <script>
        $(document).ready(function () {
            var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';
            var csrftoken = Cookies.get('csrftoken');


            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var $chatlog = $('.js-chat-log');
            var $input = $('.js-text');

            var $sayButton = $('.js-say');



            function createRow(text, cardClass, confidence) {
                function rowGenerator(content) {
                    var confidencePercent = Math.round(confidence / 1 * 100);
                    var progressbarDiv = '<div class="progress">' +
                        '<div class="progress-bar" role="progressbar"' +
                        'aria-valuenow="' + confidencePercent + '" aria-valuemin="0"' +
                        'aria-valuemax="100"' +
                        'style="width: ' + confidencePercent + '%">' +
                        confidencePercent + '% Confidence</div></div>';


                    var div = '<div class="panel panel-' + cardClass + '"><div class="panel-body">' +
                        content + '</div>';
                    if (confidence !== null)
                        div += '<div class="panel-footer">' + progressbarDiv + '</div></div>';
                    else
                        div += '</div>';
                    return div;
                }


                var $row = $(rowGenerator(text));
                $row.appendTo($chatlog);
            }

            function submitInput() {
                var inputData = {
                    'text': $input.val()
                }

                // Display the user's input on the web page
                createRow(inputData.text, 'primary', null);
                var $submit = $.ajax({
                    type: 'POST'
                    , url: chatterbotUrl
                    , data: JSON.stringify(inputData)
                    , contentType: 'application/json'
                });

                $submit.done(function (statement) {
                    createRow(statement.text, 'default', statement.confidence);

                    // Clear the input field
                    $input.val('');
                    $chatlog.scrollTop($chatlog[0].scrollHeight);
                });

                $submit.fail(function () {
                    // TODO: Handle errors
                });
            }

            $sayButton.click(function () {
                submitInput();
            });

            $input.keydown(function (event) {
                // Submit the input when the enter button is pressed
                if (event.keyCode == 13) {
                    submitInput();
                }
            });
        });
    </script>
</body>

</html>